<h2>Hello,<%= @user.name %>!</h2>
<h3>Here is your progress so far:</h3>

<% @user.study_sessions.each do |study_session| %>
    <h4><%= study_session.date %></h4>
    <p><%= study_sessions.hours %><p>
    <p><%= study_session.summary %></p>
<% end %>
