<h2>Welcome, <%= current_student.name %></h2>
<h3>All Study Sessions:</h3>

<% Study_session.all.each do |study_session| %>
  <p>Date: <%= study_session.date %></p>
  <p>Hours Studied: <%= study_session.hours %><p>
  <p>Learned: <%= study_session.summary %></p>
<% end %>

<br>

<% if logged_in? %>
  <a href="/study_sessions/new_study_session">New Study Session</a><br>
  <a href="/logout">Log Out</a><br>
<% end %>
