<h1>Welcome to your Learn.co Progress Tracker!</h1>
  <h3>Please Log In or Sign Up</h3>

<a href="/login"><input class="btn" type="button" value="Log In"></a>
<a href="/signup"><input class="btn" type="button" value="Sign Up"></a>
